body {
    margin: 2em;
    background-color: aqua;
  }
  
  body,
  div,
  input,
  textarea,
  h1,
  h2 {
    font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  }
  
  div {
    margin: 1em 0;
  }
  input[type="checkbox"], input[type="radio"]{
    margin-right: 5px;
  }
  
  div[contenteditable] {
    width: 10em;
    min-height: 2em;
    padding: 0.2em;
    border: 1px solid #000;
  }
  
  label {
    display: block;
    margin: 5px 0;
  }
  
  select {
    width: 10em;
  }
  .btn-good {
    background: #0B579E;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 20px;
    &:active{
        opacity: 0.7;
    }
  }
  
//   .btn:hover {
//     background: #f8bbd0;
//   }
  
//   .btn:active {
//     background: #880e4f;
//     color: white;
//   }



.container {
    max-width: 700px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    gap: 20px;
  }
  
  .card {
    border: 4px solid #eee;
    border-radius: .5em;
    display: grid;
    grid-template-rows: auto 1fr auto;
  }
  
  .card h2,
  .card p {
    padding: .3em .5em;
    margin: 0;
  }
  
  .card a{
    display: block;
    padding: .3em .5em;
    margin: 0;
    text-decoration: none;
    background-color: #333;
    color: #fff;
  }
  
  .card a:focus {
    outline: 4px solid orange ;
  }
 